@using Class_3_25_19.Models;
@model  IEnumerable<Person>
<div class="col-md-6 col-md-offset-3">

    <form method="post" action="/home/addperson">
        <div class="row">
            <div class="col-md-4">
                <input type="text" placeholder="First Name" name="p[0].firstname" class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Last Name" name="p[0].lastname" class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Age" name="p[0].age" class="form-control" />
            </div>
        </div>
        <button class="btn btn-primary">Submit</button>
        <ul id="person"></ul>
    </form>
        <button id="mybutton" class="btn btn-danger">Add Person</button>
       
    
</div>



@section scripts {
    <script src="/Scripts/index.js"></script>
}
